# Dependencies

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Dataset

In [2]:
df = pd.read_csv('C:\\Users\\user\\Desktop\\Repositories\\Data_Cleaning\\Datasets\\house-prices-advanced-regression-techniques\\train.csv')
df.shape

(1460, 81)

In [ ]:
df2 = df[["KitchenQual", "BldgType"]]
df2

     KitchenQual BldgType
0             Gd     1Fam
1             TA     1Fam
2             Gd     1Fam
3             Gd     1Fam
4             Gd     1Fam
...          ...      ...
1455          TA     1Fam
1456          TA     1Fam
1457          Gd     1Fam
1458          Gd     1Fam
1459          TA     1Fam

[1460 rows x 2 columns]

In [14]:
pd.set_option('display.max_rows',None)

In [7]:
le = LabelEncoder()

In [8]:
le.fit_transform(df2["BldgType"])

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
df2['BldgType_L_enc'] = le.fit_transform(df2["BldgType"])

C:\Users\user\AppData\Local\Temp\ipykernel_2484\1757418046.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['BldgType_L_enc'] = le.fit_transform(df2["BldgType"])

In [19]:
df2.tail(9)

     KitchenQual BldgType  BldgType_L_enc
1451          Ex     1Fam               0
1452          TA   TwnhsE               4
1453          TA     1Fam               0
1454          Gd     1Fam               0
1455          TA     1Fam               0
1456          TA     1Fam               0
1457          Gd     1Fam               0
1458          Gd     1Fam               0
1459          TA     1Fam               0

In [20]:
df2["BldgType"].value_counts()

BldgType
1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: count, dtype: int64

In [21]:
df2["KitchenQual"].value_counts()

KitchenQual
TA    735
Gd    586
Ex    100
Fa     39
Name: count, dtype: int64

In [22]:
order_label = {'Ex': 4, "Gd": 3, "TA": 2, "Fa": 1}
df2["KitchenQual_ord_enc"] =  df2["KitchenQual"].map(order_label)

C:\Users\user\AppData\Local\Temp\ipykernel_2484\4089040091.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["KitchenQual_ord_enc"] =  df2["KitchenQual"].map(order_label)

In [24]:
df2.head(10)

  KitchenQual BldgType  BldgType_L_enc  KitchenQual_ord_enc
0          Gd     1Fam               0                    3
1          TA     1Fam               0                    2
2          Gd     1Fam               0                    3
3          Gd     1Fam               0                    3
4          Gd     1Fam               0                    3
5          TA     1Fam               0                    2
6          Gd     1Fam               0                    3
7          TA     1Fam               0                    2
8          TA     1Fam               0                    2
9          TA   2fmCon               1                    2